<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="static/style.css" />
  <title>Document</title>
</head>
<body>
  <header>
    <nav class="navbar">
      <div class="logo">My controll</div>
      <ul class="nav-tabs">
        <li><a href="/" class="tab-link">Home </a></li>
        <li><a href="/gastos" class="tab-link">Gastos </a></li>
        <li><a href="/budget" class="tab-link">Budget </a></li>
        <li><a href="/Investimentos" class="tab-link">Investimentos </a></li>
      </ul>
    </nav>
  </header>

  
  <div class="container">

  <div class="right-side">
    <h2>Novo Gasto</h2>
    <form method="POST" action="/gastos">
      <label id="datalabel">Data:</label>
      <input class="opt" type="date" name="data" required />
      
      <label>Categoria:</label>
      <input class="opt" type="text" name="cat1" required />
      
      <label>Categoria Específica:</label>
      <input class="opt" type="text" name="cat2"/>
      
      <label>Produto:</label>
      <input class="opt" type="text" name="produto" required />
      
      <label>Valor:</label>
      <input class="opt" id="valorprod" type="number" step="0.01" name="valor" required />
      
      <label>Método:</label>
      <select class="opt" name="metodo" required >
        <option value="">Selecione um método</option>
        <option value="">Crédito</option>
        <option value="">Pix</option>
      </select>

      <label class="switch">
        <input type="checkbox" id="parc-check" />
        <span class="slider round"></span>
      </label>
      Parcelado?
      
      <div id="parcelado-fields" style="display: none; margin-top: 10px">
        <label>Tipo de entrada:</label>
        <select class="opt" id="tipo-entrada" name="tipo_entrada">
          <option value="total">Valor Total</option>
          <option value="1parc">Valor 1 Parcela</option>
        </select>
        
        <label>Quantidade de parcelas:</label>
        <input class="opt" type="number" id="qtd_parcelas" name="qtd_parcelas"  value="" />
        
        
        <button class="botao" id="botsim">Simular</button>
        
        <div id="resultado" style="margin-top: 10px; font-size: 0.9rem; color: #555;"></div>
      </div>
      
      <button class="botao" type="submit">Adicionar</button>
    </form>
  </div>

  <!-- filtro de meses -->
  <div class="left-side">
    <h2>Gastos por Categoria</h2>
    <div>
    <form method="GET" action="/gastos" class="botefilt">
      <label for="filtro_mes">Filtro por mês: </label>
      <select name="filtro_messel" id="filtro_mes">
          <option value="">Todos</option>
        {% for mes,label in meses_disp%}
        <option value="{{mes}}" {% if mes == filtromes %}selected{% endif %}>
          {{label}}
        </option>
        {% endfor %}
      </select>
      <button class="filterbot" type="submit">Filtrar</button>
    </form>
    </div>
    <!-- filtro de meses -->

    <!-- painel gastos e categorias -->
    <div class = caixainfos>
      <ul>
        {% for cat, dadoscat2 in resumo.items() %}
        <div class="categorias">
          <span class="titcats"> {{cat}}</span>
          <span class="valorcats">R$ {{dadoscat2.total | round(2)}}</span>
        </div>

        {% for cat2 ,dados in dadoscat2.subcategorias.items() %}
        <div class="categorias2"> 
          <span  class="titcats">  {{cat2}}  </span>
          <span class="valorcats2">R$ {{ dados.total | round(2)}} </span>
        </div>

        {% for item in dados.gastos %}
        <div class="produtos"> 
          <span>{{item.descricao}}</span>
          <span class="prodvalor">R$ {{item.valor | round(2)}} ({{item.data}})</span>
        </div>
        {% endfor %}
        <div>
          <hr class="divisoria">          
        </div>
        <br>
        <br>  
        
        {% endfor %}
        {% endfor %}
      </ul>
      <br>
      <br>
    </div>
    <!-- fim do painel -->

    <!-- total geral -->
    <div class="totfim">
      <span class="categorias">Total: R$ {{totalgasto | round(2)}}</span>
    </div>

  </div>

</div>
<script>
    const check = document.getElementById("parc-check");
    const pfild = document.getElementById("parcelado-fields");
    const dataLabel = document.getElementById("datalabel");

    check.addEventListener("change", function () {
      pfild.style.display = check.checked ? "block" : "none";
      dataLabel.textContent = check.checked ? "Data Inicial:" : "Data:";  
    });

    document.getElementById("botsim").addEventListener("click", function (event) {
      event.preventDefault();

      const valor = parseFloat(document.getElementById("valorprod").value);
      const tipo = document.getElementById("tipo-entrada").value;
      const qtd = parseInt(document.getElementById("qtd_parcelas").value);
      const resultadoDiv = document.getElementById("resultado");

      if (!valor || !qtd || qtd <= 0) {
        resultadoDiv.textContent = "Preencha todos os campos corretamente.";
        return;
      }

      let total = 0;
      let parcela = 0;

      if (tipo === "total") {
        total = valor;
        parcela = total / qtd;
      } else {
        parcela = valor;
        total = parcela * qtd;
      }

      resultadoDiv.textContent = `Serão ${qtd} parcelas de R$ ${parcela.toFixed(2)}, total de R$ ${total.toFixed(2)}.`;
    });

  </script>
</body>
</html>
