<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Document</title>
</head>
<body>
    <header>
    <nav class="navbar">
        <div class="logo">My controll</div>
        <ul class="nav-tabs">
            <li><a href=" /" class="tab-link">Home </a></li>
            <li><a href=" /gastos" class="tab-link">Gastos </a></li>
            <li><a href="/budget" class="tab-link">Budget </a></li>
            <li><a href=" /Investimentos" class="tab-link">Investimentos </a></li>
        </ul>
    </nav>
    </header>

    <div class="rside">
        <h2>Novo Gasto</h2>
        <form method="POST" action="/gastos">
            <label>Data:</label>
            <input type="date" name="data" required>
            <button type="submit">Add</button>
        </form>

    </div>
</body>
</html>