<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Document</title>
</head>
<body>

<header>
    <nav class="navbar">
        <div class="logo">My controll</div>
        <ul class="nav-tabs">
            <li><a href=" /" class="tab-link">Home </a></li>
            <li><a href=" /gastos" class="tab-link">Gastos </a></li>
            <li><a href="/ganhos" class="tab-link">Ganhos </a></li>
            <li><a href="/budget" class="tab-link">Budget </a></li>
            <li><a href=" /Investimentos" class="tab-link">Investimentos </a></li>
        </ul>
    </nav>
</header>

<section class="Resumo">
<h2 class="tit1"> Gastos do mês</h2>
</section>

<section>
    <div class="filthome">
    <form method="GET" class="botefilt">
      <label for="filtro_mes">Filtro por mês: </label>
      <select name="filtro_messel" id="filtro_mes">
        <option value="">Todos</option>
            {% for mes,label in meses_disp%}
        <option value="{{mes}}" {% if mes == filtromes %}selected{% endif %}>
             {{label}}
        </option>
            {% endfor %}
      </select>
      <button class="filterbot" type="submit">Filtrar</button>
    </form>
    </div>
    <ul>
        <div class="card">
            <div class="titcard">Salario</div>
            <div class="valcardV"><span>R$ {{g2}}</span></div>
            <div class="datcard">01 de jul de 2025</div>
        </div>
        <div class="card">
            <div class="titcard">Crédito</div>
            <div class="valcardR">R${{totalgasto | round(2)}}</div>
            <div class="datcard">01 de jul de 2025</div>
        </div>
        <div class="card">
            <div class="titcard">Restante</div>
            <div class="valcardRx">{{g3}}</div>
            <div class="datcard">01 de jul de 2025</div>
        </div>
    </ul>

</section>
</body>


</html>